.news-content {
  // margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin-top: 20px;
  border-radius: 7px;
  background-color: white;
  .image-container {
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      // width: 100%;
      padding: 0px !important;
    }
  }
  h3,
  h6,
  p {
    padding: 10px 0px 0px 10px;
  }
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin-top: 20px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  // grid-gap: 2px;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'image'
    'title'
    'source-name'
    'description'
    'readmore';

  h3 {
    font-size: 2.8rem;
  }
  h6 {
    font-size: 1.6rem;
  }
  .description > p,
  .readmore > p {
    font-size: 1.8rem;
  }
}
.box {
  background-color: #fff;
  color: black;
  border-radius: 5px;
}
.image-container {
  overflow: hidden;
  img {
    max-width: 100%;
    height: auto;
    padding: 0px !important;
  }
}
h3,
h6,
p {
  padding: 10px 0px 0px 10px;
}

.title {
  grid-area: title;
  height: auto;
}
.source-name {
  grid-area: source-name;
}
.description {
  grid-area: description;
}
.readmore {
  grid-area: readmore;
}
.image {
  grid-area: image;
}

@media only screen and (min-width: 900px) and (max-width: 1600px) {
  .wrapper {
    grid-gap: 2px;
    grid-template-columns: auto 2rem 30rem;
    grid-template-areas:
      'title . image'
      'source-name . image'
      'description . image'
      'readmore . image';
  }
}

@media only screen and (min-width: 1600px) {
  .wrapper {
    grid-gap: 5px;
    grid-template-columns: auto 3rem, 32rem;
    grid-template-areas:
      'title . image'
      'source-name . image'
      'description . image'
      'readmore . image';
  }
}
