.news-content {
  // margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin-top: 20px;
  border-radius: 7px;
  background-color: white;
  .image-container {
    overflow: hidden;
    img{
      max-width: 100%;
      height: auto;
      // width: 100%;
      padding: 0px !important;
    }
  }
  // .news-image {
    
  // }
  h3,
  h6,
  p {
    padding: 10px 0px 0px 10px;
  }
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
