<ng-sidebar-container (onBackdropClicked)="_onBackdropClicked()">
  <ng-sidebar
    [(opened)]="_opened"
    [mode]="_MODES[_modeNum]"
    [keyClose]="_keyClose"
    [position]="_POSITIONS[_positionNum]"
    [dock]="_dock"
    [dockedSize]="'50px'"
    [autoCollapseHeight]="_autoCollapseHeight"
    [autoCollapseWidth]="_autoCollapseWidth"
    [closeOnClickOutside]="_closeOnClickOutside"
    [closeOnClickBackdrop]="_closeOnClickBackdrop"
    [showBackdrop]="_showBackdrop"
    [animate]="_animate"
    [trapFocus]="_trapFocus"
    [autoFocus]="_autoFocus"
    [ariaLabel]="'My sidebar'"
    (onOpenStart)="_onOpenStart()"
    (onOpened)="_onOpened()"
    (onCloseStart)="_onCloseStart()"
    (onClosed)="_onClosed()"
    (onTransitionEnd)="_onTransitionEnd()"
  >
    <!-- Sidebar Content -->
    <div *ngIf="auth.user$ | async; then authenticated; else guest">
      <!-- template will replace this div -->
    </div>
    <ng-template #guest>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item button detail lines="none">
              <h5 class="ion-no-margin">Home</h5>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item button detail lines="none"> <h5>Sources</h5> </ion-item>
          </ion-col>
          <ion-col size="12" class="ion-margin-bottom">
            <ion-item button detail lines="none"> <h5>About</h5> </ion-item>
          </ion-col>
          <ion-col size="12" class="ion-margin-bottom">
            <div class="select">
              <div
                *ngFor="let item of countryData"
                (click)="selectNation(item.code)"
              >
                <h5>{{ item.name }}{{ '   ' }}{{ item.emoji }}</h5>
              </div>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-item
              lines="none"
              (click)="auth.googleSignin()"
              button
              class="item-button"
            >
              <ion-icon
                color="light"
                name="logo-google"
                slot="start"
              ></ion-icon>
              <h5 class="ion-no-margin ion-padding-horizontal">
                Connect Google
              </h5>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>

    <ng-template #authenticated>
      <ion-row class="ion-margin-top" *ngIf="auth.user$ | async as user">
        <ion-col size="12" class="ion-margin-horizontal">
          <ion-avatar>
            <img [src]="user.photoURL" />
          </ion-avatar>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none">
            <h5>{{ user.displayName }}</h5>
          </ion-item></ion-col
        >
        <ion-col size="12">
          <ion-item button detail lines="none"> <h5>Home</h5> </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item button detail lines="none"> <h5>Sources</h5> </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item button detail lines="none"> <h5>About</h5> </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item
            button
            lines="none"
            class="item-button"
            (click)="auth.signOut()"
          >
            <h5>Logout</h5>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-template>
  </ng-sidebar>

  <div ng-sidebar-content>
    <app-news-header (toggle)="_toggleOpened()"></app-news-header>
    <main class="demo-contents">
      <router-outlet #o="outlet"></router-outlet>
    </main>
    <app-news-footer></app-news-footer>
  </div>
</ng-sidebar-container>
