@import url('https://fonts.googleapis.com/css?family=Courgette|Montserrat|Satisfy&display=swap');

:root {
  --font-body: 'Montserrat', sans-serif;
  --font-heading: $font-body;
  --font-comment: 'Courgette', cursive;
  --font-reply: 'Satisfy', cursive;

  --color-black: #000;
  --color-dark: #100e16;
  --color-dark-blue: #001628;
  --color-dark-grey: #15202b;
  --color-light-green: #17bf63;
}

::ng-deep aside {
  background-color: #15202b;
  padding: 2em 1em;
  width: 70%;
  @media only screen and (min-width: 1140px) {
    width: 22%;
  }
}

.demo-contents {
  @media only screen and (min-width: 1024px) {
    margin: 2rem;
  }
}

main {
  position: relative;
}

ion-item {
  --background: #15202b;
  --background-hover-color: #17bf63;
  --color: var(--ion-color-light);
}
h5 {
  margin: 0;
}

.item-button {
  --background: #263a4d;
  --color: #fff;
  --border-radius: 0.4rem;
}
