.news {
  &-header {
    background-color: #d10000;
    color: white;
    text-transform: uppercase;
    padding: 1% 0 1% 15%;
  }
  &-layout {
    margin-left: 15%;
    margin-right: 15%;
    background-color: white !important;
    a {
      color: cornflowerblue !important;
    }
    // border: 1px solid grey;
  }
  &-footer {
    background-color: #d10000;
    margin-top: 4vh;
    height: auto;
    color: white;
    text-transform: uppercase;
    padding: 2% 15% 2% 15%;
  }
}

@media only screen and (min-width: 100px) and (max-width: 600px) {
  .news {
    &-header {
      padding: 2rem;
    }
    &-layout {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
// @media only screen and (min-width: 1200px) and (max-width: 1400px) {
//   .news {
//     &-footer {
//       padding: 2% 0px 2% 0px;
//     }
//   }
// }
