.news {
  &-header {
    background-color: #d10000;
    color: white;
    text-transform: uppercase;
    padding: 1% 0 1% 15%;
  }
  &-layout {
    margin-left: 15%;
    margin-right: 15%;
    background-color: white !important;
    a {
      color: cornflowerblue !important;
    }
    // border: 1px solid grey;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .news-layout {
    margin-left: 0;
    margin-right: 0;
  }
}
