.wrapper {
  display: grid;
  grid-gap: 5px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin-top: 20px;
  border-radius: 7px;
  background-color: #15202b;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  overflow: hidden;
  grid-auto-rows: auto;
  grid-template-areas:
    'image'
    'title'
    'source-name'
    'description'
    'readmore';

  h3 {
    font-size: 2.8rem;
    margin: 1rem 0;
  }
  h6 {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .description > p,
  .readmore > p {
    font-size: 1.8rem;
  }
}

.box {
  background-color: #15202b;
  color: #fff;
  border-radius: 5px;
}
.image-container {
  background-color: #161616;
  padding-bottom: 66.666667%;
  position: relative;
  .news-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0px !important;
  }
}

.title {
  grid-area: title;
  height: auto;
}
.source-name {
  grid-area: source-name;
}
.description {
  grid-area: description;
}
.readmore {
  grid-area: readmore;
}
.image {
  grid-area: image;
}

@media only screen and (min-width: 900px) {
  .wrapper {
    grid-gap: 2px;
    grid-template-columns: auto 2rem 30rem;
    grid-template-areas:
      'title . image'
      'source-name . image'
      'description . image'
      'readmore . image';
  }
}

@media only screen and (min-width: 1600px) {
  .wrapper {
    grid-gap: 5px;
    grid-template-columns: auto 3rem, 32rem;
    grid-template-areas:
      'title . image'
      'source-name . image'
      'description . image'
      'readmore . image';
  }
}
