.nav-grid {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  background-color: #001628;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  padding: 1.6rem;
  width: 100%;
  font-size: 1.9rem;
  border-radius: 0 0 7px 7px;
  text-align: center;
  text-transform: capitalize;
  list-style: none;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;

  .nav-link {
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin: 1rem;
  }
  li {
    padding: 5px 10px;
    margin-bottom: 1rem;
    &.selected {
      background-color: #17bf63;
      color: white;
      border-radius: 2px;
    }
    @media only screen and (min-width: 800px) {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 800px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
