/* You can add global styles to this file, and also import other style files */
@import 'assets/mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  position: absolute;
  height: 100%;
  background: #100e16;
  color: #fff;
  font: 400 1em/1.25 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

ion-item,
ion-button {
  font: 400 1em/1.25 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 100px) and (max-width: 600px) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}
