<nav>
    <div class="nav-grid">
      <div ><a class="nav-item nav-link active" href="#">Apple</a></div>
      <div ><a class="nav-item nav-link" [routerLink]="['detail']" routerLinkActive="router-link-active"  href="#">India</a></div>
      <div ><a class="nav-item nav-link" href="#">Cricket</a></div>
      <div ><a class="nav-item nav-link" href="#">Technology</a></div>
      <div ><a class="nav-item nav-link" href="#">International</a></div>
      <div ><a class="nav-item nav-link" href="#">Oscar 2K19</a></div>
    </div>
</nav>
<router-outlet></router-outlet>
