.nav-grid {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  padding: 1.6rem;
  font-size: 1.9rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 7px;
  text-align: center;
  text-transform: capitalize;

  .nav-link {
    padding: 0.8rem 1.6rem;
  }
  a.selected {
    background-color: #d10000;
    color: white;
  }
}
@media only screen and (min-width: 930px) and (max-width: 1140px) {
  .nav-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 100px) and (max-width: 930px) {
  .nav-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
