.wrapper {
  display: grid;
  grid-template-rows: repeat(6, auto);
  font-family: 'Montserrat', sans-serif;
  justify-items: center;
  div {
    margin: 5px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .wrapper {
    grid-gap: 2px;
    grid-template-columns: 20rem 5rem 10rem 10rem 10rem 15rem 5rem 20rem;
  }
}
